@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nabla&family=Outfit:wght@300;400;600&family=Roboto+Slab:wght@500&family=VT323&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Wallpoet&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --colorfondo: #f55353;
  --colorSecundario: #143f6b;
  --font: Wallpoet;
  --font2: Roboto Slab;
  --table: #e73939d2;
  --color-letra: #0c243b;
}
body {
  background-color: var(--colorfondo);

}
p {
  border-radius: 10px;
  background-color: aliceblue;
  font-size: 25px;
  color: var(--color-letra);
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 5px 6px 19px -3px rgba(0,0,0,0.41);


}
h1 {
  
  font-family: var(--font);
  letter-spacing: 0px;
}
h2 {
  font-family: var(--font2);
  letter-spacing: 1px;
}
header {
  background-color: var(--colorSecundario);
  color: white;
  text-align: center;
}

#quiz{
  margin-top: 2rem;
}

div {
  width: 95%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 10px;
  display: flex;
  gap: 2.5px;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto
}

button {
  text-align: center;
  background-color: aliceblue;
  margin: 2px;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid black;
  box-shadow: 5px 6px 19px -3px rgba(0,0,0,0.41);

  font-size: 25px;
  color: var(--color-letra);
}

button:active {
  background-color: rgb(162, 167, 172);
}


.load-wrapp {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 10px 10px 0;
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #d8d8d8;
}
/* ////////////////////////////////////// */
.spinner {
  align-self: center;
  margin: 1rem;
  animation: rotator 1.4s linear infinite;
}
@keyframes rotator {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(270deg);
 }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

.spinner {
	 animation: rotator 3s linear infinite;
}
 @keyframes rotator {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(270deg);
	}
}
 .path {
	 stroke-dasharray: 187;
	 stroke-dashoffset: 0;
	 transform-origin: center;
	 animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}
 @keyframes colors {
	 0% {
		 stroke: #4285f4;
	}
	 25% {
		 stroke: #de3e35;
	}
	 50% {
		 stroke: #f7c223;
	}
	 75% {
		 stroke: #1b9a59;
	}
	 100% {
		 stroke: #4285f4;
	}
}
 @keyframes dash {
	 0% {
		 stroke-dashoffset: 187;
	}
	 50% {
		 stroke-dashoffset: 46.75;
		 transform: rotate(135deg);
	}
	 100% {
		 stroke-dashoffset: 187;
		 transform: rotate(450deg);
	}
}
